<app-header></app-header>



<div class="header-1"></div>
<!-- Subheader Start -->
<div class="subheader subheader-2 bg-cover bg-center dark-overlay"
     style="background-image: url('assets/img/detail/5.jpg')">
  <div class="container">
    <div class="subheader-inner">
      <h1 class="text-white">nom de la villla </h1>
    </div>
  </div>
</div>
<div class="section listing-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="listing-content">
          <h4>desecreption </h4>
          <p>
            Lorem Ipsum is simply dummy text
            Lorem Ipsum is simply dummy text
            Lorem Ipsum is simply dummy text
            Lorem Ipsum is simply dummy text
            Lorem Ipsum is simply dummy text
            Lorem Ipsum is simply dummy text
            Lorem Ipsum is simply dummy text
            Lorem Ipsum is simply dummy text
            Lorem Ipsum is simply dummy text
            Lorem Ipsum is simply dummy text
            Lorem Ipsum is simply dummy text
            Lorem Ipsum is simply dummy text
            Lorem Ipsum is simply dummy text
            Lorem Ipsum is simply dummy text
            Lorem Ipsum is simply dummy text
            Lorem Ipsum is simply dummy text
            Lorem Ipsum is simply dummy text
            Lorem Ipsum is simply dummy text
            Lorem Ipsum is simply dummy text
            Lorem Ipsum is simply dummy text


          </p>

        </div>

        <div class="section section-padding pt-0">
          <h4>Details</h4>
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="listing-feature-wrapper">
                <div class="listing-feature">
                  <i class="flaticon-picture"></i>
                  <h6 class="listing-feature-label">Propery Type</h6>
                  <span class="listing-feature-value">House</span>
                </div>
                <div class="listing-feature">
                  <i class="flaticon-bone"></i>
                  <h6 class="listing-feature-label">Pet Friendly</h6>
                  <span class="listing-feature-value">Yes</span>
                </div>
                <div class="listing-feature">
                  <i class="flaticon-chair"></i>
                  <h6 class="listing-feature-label">Furnished</h6>
                  <span class="listing-feature-value">Yes</span>
                </div>
                <div class="listing-feature">
                  <i class="flaticon-fan"></i>
                  <h6 class="listing-feature-label">Cooling</h6>
                  <span class="listing-feature-value">Yes</span>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="listing-feature-wrapper">
                <div class="listing-feature">
                  <i class="flaticon-bathroom"></i>
                  <h6 class="listing-feature-label">Bathrooms</h6>
                  <span class="listing-feature-value">3</span>
                </div>
                <div class="listing-feature">
                  <i class="flaticon-pillow"></i>
                  <h6 class="listing-feature-label">Bed Rooms</h6>
                  <span class="listing-feature-value">4</span>
                </div>
                <div class="listing-feature">
                  <i class="flaticon-mailbox"></i>
                  <h6 class="listing-feature-label">Mail box</h6>
                  <span class="listing-feature-value">Yes</span>
                </div>
                <div class="listing-feature">
                  <i class="flaticon-ruler"></i>
                  <h6 class="listing-feature-label">Property Size</h6>
                  <span class="listing-feature-value">3,000 Sqft</span>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="section pt-0">
          <h4> Planifier une visite</h4>
          <form method="post">
            <div class="row">
              <div class="col-md-6 form-group">
                <input type="text" class="form-control" placeholder=" Name" name="name" value="">
              </div>
              <div class="col-md-6 form-group">
                <input type="email" class="form-control" placeholder="Email " name="email" value="">
              </div>
              <div class="col-md-6 form-group">
                <input type="text" class="form-control" placeholder="Phone " name="phone" value="">
              </div>
              <div class="col-md-6 form-group">
                <input type="text" class="form-control" placeholder="Date" name="date" value="">
              </div>
              <div class="col-md-12 form-group">
                <textarea class="form-control" placeholder=" say something..." name="comment" rows="7"></textarea>
              </div>
            </div>
            <button type="submit" class="btn-custom primary" name="button">Send</button>
          </form>
        </div>


      </div>
      <div class="col-lg-4">
        <div class="sidebar sticky-sidebar">
          <div class="sidebar-widget sidebar-widget-agent">
            <h5>buy it </h5>

            <form method="post">
              <div class="form-group">
                <textarea name="message" rows="3" placeholder=" message" class="form-control"></textarea>
              </div>
              <a href="#" class="btn-custom primary light btn-block">buy</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
