<app-header></app-header>
<br><br><br><br><br><br>

<div class="section section-padding">
  <div class="container">
    <div class="section-title-wrap section-header">
      <h2>Catégories</h2>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="acr-category">
          <div class="acr-category-thumb">
            <a href="#"><img src="assets/img/6.jpg" alt="category"></a>
            <div class="acr-category-body">
              <h5> <a href="#">bureau</a> </h5>
              <span>9000000 annonce</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="acr-category">
          <div class="acr-category-thumb">

            <a href="#"><img src="assets/img/6.jpg" alt="category"></a>
            <div class="acr-category-body">
              <h5> <a href="#">residence</a> </h5>
              <span>11234567 annonce</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="acr-category">
          <div class="acr-category-thumb">
            <a href="#"><img src="assets/img/6.jpg" alt="category"></a>
            <div class="acr-category-body">
              <h5> <a href="#">Villas</a> </h5>
              <span>1234567 annonce </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="acr-category">
          <div class="acr-category-thumb">

            <a href="#"><img src="assets/img/6.jpg" alt="category"></a>
            <div class="acr-category-body">
              <h5> <a href="#">Apartments</a> </h5>
              <span>112345678 annonce</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="acr-category">
          <div class="acr-category-thumb">

            <a href="#"><img src="assets/img/6.jpg" alt="category"></a>
            <div class="acr-category-body">
              <h5> <a href="#">Beach House</a> </h5>
              <span>12345678 annonce</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="acr-category">
          <div class="acr-category-thumb">

            <a href="#"><img src="assets/img/6.jpg" alt="category"></a>
            <div class="acr-category-body">
              <h5> <a href="#">Duplex</a> </h5>
              <span>12345678 annonce</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- Listings Slider Start -->
<div class="section section-padding pt-0 listings">
  <div class="container">
    <div class="section-title-wrap section-header flex-header">
      <div class="section-title-text">
        <h2 class="title">Annonce récente </h2>
      </div>
      <div class="acr-arrows primary-arrows">
        <i class="slider-prev fas"></i>
        <i class="slider-next fas"></i>
      </div>
    </div>
    <div class="listings-slider">




      <!-- Listing Start -->


      <div class="listing">
        <div class="listing-thumbnail">
          <a routerLink='/listing-detail'><img src="assets/img/1.jpg" alt="listing"></a>
          <div class="listing-badges">
            <span class="listing-badge sale"> vendu</span>
          </div>
        </div>
        <div class="listing-body">
          <div class="listing-author">
            <img src="assets/img/2.jpg" alt="author">
            <div class="listing-author-body">
              <p> <a href="#"> villa </a> </p>
            </div>
          </div>
          <h5 class="listing-title"> <a routerLink='/listing-detail' title="Iris Watson, Frederick Nebraska 20620">villa </a> </h5>
          <span class="listing-price">2000 <span>/mois</span> </span>
          <p class="listing-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          <div class="acr-listing-icons">
            <div class="acr-listing-icon" data-toggle="tooltip" title="Beds">
              <i class="flaticon-bedroom"></i>
              <span class="acr-listing-icon-value">3</span>
            </div>
          </div>
        </div>
      </div>

      <div class="listing">
        <div class="listing-thumbnail">
          <a routerLink='/listing-detail'><img src="assets/img/1.jpg" alt="listing"></a>
          <div class="listing-badges">
            <span class="listing-badge sale"> vendu</span>
          </div>
        </div>
        <div class="listing-body">
          <div class="listing-author">
            <img src="assets/img/2.jpg" alt="author">
            <div class="listing-author-body">
              <p> <a href="#"> villa </a> </p>
            </div>
          </div>
          <h5 class="listing-title"> <a routerLink='/listing-detail' title="Iris Watson, Frederick Nebraska 20620">villa </a> </h5>
          <span class="listing-price">2000 <span>/mois</span> </span>
          <p class="listing-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          <div class="acr-listing-icons">
            <div class="acr-listing-icon" data-toggle="tooltip" title="Beds">
              <i class="flaticon-bedroom"></i>
              <span class="acr-listing-icon-value">3</span>
            </div>
          </div>
        </div>
      </div>
      <div class="listing">
        <div class="listing-thumbnail">
          <a routerLink='/listing-detail'><img src="assets/img/1.jpg" alt="listing"></a>
          <div class="listing-badges">
            <span class="listing-badge sale"> vendu</span>
          </div>
        </div>
        <div class="listing-body">
          <div class="listing-author">
            <img src="assets/img/2.jpg" alt="author">
            <div class="listing-author-body">
              <p> <a href="#"> villa </a> </p>
            </div>
          </div>
          <h5 class="listing-title"> <a routerLink='/listing-detail' title="Iris Watson, Frederick Nebraska 20620">villa </a> </h5>
          <span class="listing-price">2000 <span>/mois</span> </span>
          <p class="listing-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          <div class="acr-listing-icons">
            <div class="acr-listing-icon" data-toggle="tooltip" title="Beds">
              <i class="flaticon-bedroom"></i>
              <span class="acr-listing-icon-value">3</span>
            </div>
          </div>
        </div>
      </div>

      <div class="listing">
        <div class="listing-thumbnail">
          <a routerLink='/listing-detail'><img src="assets/img/1.jpg" alt="listing"></a>
          <div class="listing-badges">
            <span class="listing-badge sale"> vendu</span>
          </div>
        </div>
        <div class="listing-body">
          <div class="listing-author">
            <img src="assets/img/2.jpg" alt="author">
            <div class="listing-author-body">
              <p> <a href="#"> villa </a> </p>
            </div>
          </div>
          <h5 class="listing-title"> <a routerLink='/listing-detail' title="Iris Watson, Frederick Nebraska 20620">villa </a> </h5>
          <span class="listing-price">2000 <span>/mois</span> </span>
          <p class="listing-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          <div class="acr-listing-icons">
            <div class="acr-listing-icon" data-toggle="tooltip" title="Beds">
              <i class="flaticon-bedroom"></i>
              <span class="acr-listing-icon-value">3</span>
            </div>
          </div>
        </div>
      </div>


      <div class="listing">
        <div class="listing-thumbnail">
          <a routerLink='/listing-detail'><img src="assets/img/1.jpg" alt="listing"></a>
          <div class="listing-badges">
            <span class="listing-badge pending"> En attente</span>
          </div>
        </div>
        <div class="listing-body">
          <div class="listing-author">
            <img src="assets/img/2.jpg" alt="author">
            <div class="listing-author-body">
              <p> <a href="#"> villa </a> </p>
            </div>
          </div>
          <h5 class="listing-title"> <a routerLink='/listing-detail' title="Iris Watson, Frederick Nebraska 20620">villa </a> </h5>
          <span class="listing-price">2000 <span>/mois</span> </span>
          <p class="listing-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          <div class="acr-listing-icons">
            <div class="acr-listing-icon" data-toggle="tooltip" title="Beds">
              <i class="flaticon-bedroom"></i>
              <span class="acr-listing-icon-value">3</span>
            </div>
          </div>
        </div>
      </div>

      <div class="listing">
        <div class="listing-thumbnail">
          <a routerLink='/listing-detail'><img src="assets/img/1.jpg" alt="listing"></a>
          <div class="listing-badges">
            <span class="listing-badge sale"> vendu</span>
          </div>
        </div>
        <div class="listing-body">
          <div class="listing-author">
            <img src="assets/img/2.jpg" alt="author">
            <div class="listing-author-body">
              <p> <a href="#"> villa </a> </p>
            </div>
          </div>
          <h5 class="listing-title"> <a routerLink='/listing-detail' title="Iris Watson, Frederick Nebraska 20620">villa </a> </h5>
          <span class="listing-price">2000 <span>/mois</span> </span>
          <p class="listing-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          <div class="acr-listing-icons">
            <div class="acr-listing-icon" data-toggle="tooltip" title="Beds">
              <i class="flaticon-bedroom"></i>
              <span class="acr-listing-icon-value">3</span>
            </div>
          </div>
        </div>
      </div>

















    </div>
  </div>
</div>
<!-- Listings Slider End -->
<!-- Top Listings Start -->


